@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  outline: none;
  box-sizing: border-box;
  /* border: 1px solid black; 更容易看到每个盒子的大小 */
}

:root {
  --theme-bg-color: rgba(16 18 27 / 40%);
  --border-color: rgba(113 119 144 / 25%);
  --theme-color: #f9fafb;
  --inactive-color: rgb(113 119 144 / 78%);
  --body-font: "Poppins", sans-serif;
  --hover-menu-bg: rgba(12 15 25 / 30%);
  --content-title-color: #999ba5;
  --content-bg: rgb(146 151 179 / 13%);
  --button-inactive: rgb(249 250 251 / 55%);
  --dropdown-bg: #21242d;
  --dropdown-hover: rgb(42 46 60);
  --popup-bg: rgb(22 25 37);
  --search-bg: #14162b;
  --overlay-bg: rgba(36, 39, 59, 0.3);
  --scrollbar-bg: rgb(1 2 3 / 40%);
}

body {
  font-family: var(--body-font);
  background-image: url(https://wallpapershome.com/images/wallpapers/macos-big-sur-1280x720-dark-wwdc-2020-22655.jpg);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*让背景动起来*/
.video-bg {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.video-bg video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.app {
  height: 90vh;
  width: 100%;
  max-width: 1250px;
  max-height: 860px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 500;
  border-radius: 14px;
  background-color: var(--theme-bg-color);
  border-radius: 14px;
  backdrop-filter: blur(20px);
  overflow: hidden;
}

/* header 样式*/
.header {
  height: 58px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid var(--border-color);
  flex-shrink: 0;
}

/*搜素框聚焦的样式*/
.wide .header-menu,
.wide .header-profile {
  display: none;
}
.wide .search-bar {
  max-width: 600px;
  margin: auto; /*左右两边尽可能大，因此水平就居中了*/
  padding-left: 0;
  transition: all 0.4s ease;
}

.menu-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 195px;
  background-color: #f96057;
  box-shadow: 24px 0 0 0 #f8ce52, 48px 0 0 0 #5fcf65; /*太妙了，利用box-shadow在右边新建两个原点*/
  flex-shrink: 0;
}

.header-profile {
  display: flex;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu a {
  padding: 20px 30px;
  text-decoration: none;
  transition: 0.3s;
  white-space: nowrap;
  color: var(--inactive-color);
  border-bottom: 2px solid transparent; /*相当于是hover的时候把border-bottom的颜色变了,这样页面就不会弹跳，会很稳定*/
}

.header-menu a:hover,
.header-menu a:active {
  color: var(--theme-color);
  border-bottom: 2px solid var(--theme-color);
}

.notify {
  position: relative;
}

.notify::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 20px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #3a6df0;
}

.search-bar {
  height: 40px;
  padding-left: 16px;
  display: flex;
  width: 100%;
  max-width: 400px; /*先设置width，然后在设置最大宽度*/
  border-radius: 4px;
}
/*设置input的样式思路：先设置padding和width,在设置font，然后在设置背景图片生成搜索图标*/
.search-bar input {
  padding: 0 20px 0 40px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--search-bg);
  font-family: var(--body-font);
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 16px 48%;
  color: var(--theme-color);
}

.header-profile {
  display: flex;
  align-items: center;
  padding: 0 16px 0 40px;
  margin-left: auto; /*左边距尽可能的大*/
  flex-shrink: 0; /*头像不收缩*/
}
.header-profile svg {
  width: 22px;
  color: #f9fafb;
  flex-shrink: 0; /*不压缩*/
}

.notification {
  position: relative;
}
.notification-number {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: -6px;
  right: -6px;
  font-size: 10px;
  color: #fff;
  background-color: #3a6df0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notification + svg {
  margin-left: 22px;
}
.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 22px;
  -o-object-fit: cover;
  object-fit: cover;
  border: 2px solid var(--theme-color);
}

/* wrapper元素 */
.wrapper {
  display: flex;
  flex-grow: 1; /* flex-grow 默认为0，这里给1是因为header固定了height58px */
  overflow: hidden;
}

/*猫头鹰选择器：选择第二个到最后一个元素 */
.side-wrapper + .side-wrapper {
  margin-top: 20px;
}

/* 侧边栏 */
.left-side {
  flex-basis: 240px;
  padding: 26px;
  flex-shrink: 0;
  /*上面三行代码是为了固定left-side的宽度*/
  overflow: auto;
}

.side-title {
  color: var(--inactive-color);
  margin-bottom: 14px;
}

.side-menu {
  display: flex;
  flex-direction: column;
}

.side-menu a {
  /*布局*/
  display: flex;
  align-items: center;
  /*盒子*/
  padding: 10px;
  border-radius: 6px;
  /*字体*/
  font-size: 14;
  font-weight: 400;
  text-decoration: none;
  /*颜色*/
  color: var(--theme-color);
  /*动画*/
  transition: 0.3s;
}

.side-menu a:hover {
  background-color: var(--hover-menu-bg);
}

.side-menu svg {
  width: 16px;
  margin-right: 8px;
}
/*main区域 下边右边区域*/
.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /*常用操作，左边left-side固定宽度，右边占据剩余空间*/
  /* overflow-y: auto; */
}

/*main 的头部区域header*/
.main-header {
  display: flex;
  align-items: center;
  height: 58px;
  flex-shrink: 0;
  border-bottom: 1px solid var(--border-color);
}

.menu-link-main {
  padding: 0 30px;
  text-decoration: none;
  color: var(--theme-color);
}

.main-header .header-menu {
  margin-left: 150px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  padding: 20px 40px;
  color: var(--theme-color);
  background-color: var(--theme-bg-color);
}

.content-wrapper-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  width: 100%;
  border-radius: 14px;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png"),
    linear-gradient(
      to right top,
      #cf4af3,
      #e73bd7,
      #f631bc,
      #fd31a2,
      #ff3a8b,
      #ff4b78,
      #ff5e68,
      #ff705c,
      #ff8c51,
      #ffaa49,
      #ffc848,
      #ffe652
    );
}

.content-wrapper-context {
  max-width: 350px;
}

.img-content {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 17px;
  font-weight: 500;
}
.img-content svg {
  width: 28px;
  margin-right: 14px;
}
.content-text {
  margin-top: 16px;
  line-height: 1.7em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 400;
}

.content-button {
  margin-top: 16px;
  padding: 8px 26px;
  border-radius: 20px;
  border: none;
  background-color: #3a6df0;
  color: #ffff;
  cursor: pointer;
}

.content-wrapper-img {
  width: 186px;
  object-fit: cover;
  margin-top: -25px;
  object-position: center;
}

/*content-section*/
.content-section {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.content-section-title {
  color: var(--content-title-color);
  margin-bottom: 14px;
}

.content-section > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 0;
  margin: 0;
  border-radius: 14px;
  background-color: var(--content-bg);
  border: 1px solid var(--theme-bg-color);
  cursor: pointer;
}

.content-section > ul > li {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 18px;
  list-style: none;
  font-size: 16px;
  white-space: nowrap;
  transition: 0.3s; /*hover时候的变化更加柔和*/
}

.content-section > ul > li + li {
  border-top: 1px solid var(--border-color);
}
/*鼠标hover时的变化*/
.content-section > ul > li:hover:last-child {
  border-radius: 13px 13px 0 0;
}

.content-section > ul > li:hover:last-child {
  border-radius: 0 0 13px 13px;
}

.content-section > ul > li:hover {
  background-color: var(--theme-bg-color);
}

.products {
  display: flex;
  align-items: center;
  width: 150px;
}
.content-section ul svg {
  width: 28px;
  border-radius: 6px;
  margin-right: 16px;
  flex-shrink: 0;
}
.status {
  width: 140px;
  font-size: 15px;
  position: relative;
  margin-left: auto;
}
.status-circle {
  content: "";
  position: absolute;
  top: 4px;
  left: -20px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #396df0;
}
.status-circle.green {
  background-color: green;
}
.status-button.open {
  background: none;
  color: var(--button-inactive);
  border: 1px solid var(--button-inactive);
}
.status-button {
  font-size: 15px;
  margin-top: 0;
  padding: 6px 24px;
}
/*.status和.button-wrapper都是margin-left: auto;
这两个左边距都是尽可能的大*/
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  width: 187px;
}

.menu {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--button-inactive);
  box-shadow: 7px 0 0 0 var(--button-inactive),
    14px 0 0 0 var(--button-inactive);
  margin: 0 12px;
}

.dropdown {
  position: relative;
  height: 53px;
  width: 40px;
  top: -24px;
  left: -5px;
  display: flex;
  background: transparent;
  border: none;
  cursor: pointer;
}

.dropdown ul {
  position: absolute;
  top: 20px;
  right: 0;
  width: 120px;
  height: 110px;
  opacity: 0;
  pointer-events: none; /*不触发鼠标事件 与 opacity 为0 一起用*/
  background-color: var(--dropdown-bg);
  padding: 0;
  border-radius: 14px;
  transform: translateY(10px);
  transition: all 0.4s ease;
}
.dropdown ul li {
  display: flex;
  align-items: center;
  width: 100%;
  /* height: 100%; */
  font-size: 16px;
  padding: 10px 18px;
  list-style: none;
  white-space: nowrap;
  transition: 0.3s;
}
.dropdown ul li:hover {
  background-color: var(--theme-bg-color);
}
.dropdown ul li a {
  text-decoration: none;
  color: var(--theme-color);
  font-size: 12px;
}
.dropdown.is-active ul {
  pointer-events: all;
  opacity: 1;
  transform: translateY(25px);
}

.pop-up {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 30px 40px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
  background-color: var(--popup-bg);
  transform: translate(-50%, -50%);
  z-index: 10;
  transition: all 0.3s;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}
.pop-up.visible {
  visibility: visible;
  opacity: 1;
}
.pop-up .pop-up__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}
.pop-up .pop-up__subtitle {
  white-space: normal;
  line-height: 1.8em;
  font-weight: 400;
  margin: 20px 0;
}
.pop-up .content-button-wrapper {
  display: flex;
  justify-content: flex-end;
}
.content-button-wrapper button:first-child {
  margin-right: 10px;
}
.checkbox-wrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}
.checkbox-wrapper input {
  width: 14px;
  height: 14px;
  border-radius: 4px;
  margin-right: 10px;
}
.checkbox-wrapper label {
  display: flex;
  align-items: center;
}
.checkbox-wrapper + .checkbox-wrapper {
  margin: 20px 0 40px;
}
/*app card 部分*/
.apps-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.app-card {
  display: flex;
  flex-direction: column;
  width: calc(33.3% - 20px); /*为什么这样呢*/
  padding: 20px;
  border-radius: 6px;
  background-color: var(--content-bg);
  cursor: pointer;
  transition: 0.3s;
}

.app-card:hover {
  transform: scale(1.01);
  background-color: var(--theme-bg-color);
}

.app-card span {
  display: flex;
  align-items: center;
}

.app-card svg {
  width: 28px;
  border-radius: 6px;
  flex-shrink: 0;
  margin-right: 12px;
}

.app-card__subtext {
  margin-top: 20px;
  padding-bottom: 20px; /*注意这里非常巧妙，先设置上边距，在设置下内边距，最后设置border，使得border离内容有部分距离*/
  border-bottom: 1px solid var(--border-color);
  line-height: 1.6em;
  font-size: 14px;
  font-weight: 400;
}

.app-card-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 16px;
}

.app-card + .app-card {
  margin-left: 20px;
}

svg,
img {
  width: 28px;
  /* height: 28px; */
} /**/

.updates {
  position: relative;
  top: 0;
  right: 0;
  margin-left: auto;
  width: 18px;
  height: 18px;
  font-size: 11px;
}

/*滚动条*/
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border-radius: 10px;
}

img {
  max-width: 100%;
}
